html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

widget-grid {
    width: 100%;
    height: 100%;
}

:not(:defined) {
    display: none;
}

:root {
    --shaodw-color: aquamarine;
    --widget-color: wheat;
    /*--widget-transition-duration: 250ms;*/
}